@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  position: absolute;
  top: 0;
  display: flex;
  padding: 42px 60px;
  width: 100%;
  justify-content: space-between;
}

.navbar__item {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar__input {
  width: 220px;
  height: 45px;
  flex-shrink: 0;
  border: none;
  background-image: url(assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 42px;
  background-position-x: 13px;
}

.navbar__input::placeholder {
  color: #9c9696;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*  CONTEUDO - INFO */

.conteudo {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.conteudo__info {
  background: var(--background);
  width: 100%;
  height: 914px;
  display: flex;
  flex-direction: column;
  padding: 190px 72px 0 111px;
  gap: 21px;
}

.conteudo__info__msg {
  color: #000;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.conteudo__info__texto {
  color: #9c9696;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.conteudo__info__preco {
  color: #000;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.conteudo__info__botao {
  padding: 33px 79px 33px 75px;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: var(--button);
  width: 274px;
  height: 90px;
  flex-shrink: 0;
}

/* CONTEUDO - IMAGES */

.conteudo__images {
  background: var(--main-background);
  background-position: right;
  width: 62.5vw;
  height: 914px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 0 18px 40px 18px;
}

.conteudo__images__itens {
  display: flex;
  gap: 37px;
}

.conteudo__images__item:nth-child(2) {
  border-bottom: 5px solid var(--button);
}

/*  CONTEUDO - LINKS  */

.conteudo__links {
  display: flex;
  width: 100%;
  height: 166px;
  justify-content: space-between;
}

.conteudo__links__link {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.conteudo__links__video {
  width: 250px;
  background-image: url(assets/img-video.png);
}

.conteudo__links__link:nth-child(6) {
  background-color: var(--footer);
  width: 437px;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Medias */

@media (max-width: 1440px) {

    .conteudo {
        flex-direction: column;
    }

    .conteudo__info {
        height: 50vh;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .conteudo__images {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .conteudo__images__itens {
        flex-direction: column;
    }
}

@media (max-width: 1140px) {


    .conteudo__links__link {
        width: auto;
        padding: 0 10px;
        font-size: 16px;
    }
}
